---
name: Spec

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest]
        ruby: ['2.7', '3.1']
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: false
    - name: Load OpenSSL ripemd160
      run: |
        sed -i '/^\default = default_sect/a legacy = legacy_sect' /etc/ssl/openssl.cnf
        sed -i '/^\[default_sect\]/a activate = 1' /etc/ssl/openssl.cnf
        echo "[legacy_sect]" >> /etc/ssl/openssl.cnf
        echo "activate = 1" >> /etc/ssl/openssl.cnf
    - name: Install Dependencies
      run: |
        bundle install
    - name: Run Tests
      run: |
        bundle exec rspec
      env:
        COVERAGE: true
